body {
    background-image: url("../images/Nyc-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.game-title {
    z-index: 1;
    font-size: 100px;
    font-family: 'Permanent Marker', 'Archivo Black', 'Concert One', serif, sans-serif;
    font-weight: 1300;
    text-shadow: 4px 4px green;
    color: navy;
    text-decoration: underline;
    text-align: center;    
}

.game-subtitle {
    background-color: rgba(142, 151, 12, 0.4);
    font-size: 50px;
    font-family: 'Archivo Black', 'Concert One', serif, sans-serif;
    font-weight: 1100;
    text-shadow: 2px 2px navy;
    color: green;
    font-style: italic;
    text-align: center;
    margin: 0 30px 20px;
}

.pop-out {
    text-shadow: 3px 3px navy;
}

.teams {
    font-size: 30px;
    font-family: 'Archivo Black', 'Concert One', serif, sans-serif;
    font-weight: 500;
    color: green;
}

.team-secs{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.main-sec {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 30px;
}

.left-col {
    flex-wrap: wrap;
    flex: 1;
    background-color: rgba(142, 151, 12, 0.4);
    text-align: center;
}

.fighter-pic {
    position: relative;
}

.fighter-name {
    position: absolute;
    bottom: 20px;
    width: 200px;
    padding: 5px;
    margin: 0 20px;
    color: lawngreen;
    font-size: 16px;
    font-weight: bold;
}

img {
    margin: 20px;
    width: 200px;
    height: 260px;
}

img:hover {
    width: 200px;
    height: 260px;
    border: solid 5px green;
    box-shadow: 10px 10px 10px lawngreen;
}

#x-out {
    font-size: 200px;
    color: red;
    font-weight: bolder;
}

.right-col {
    flex: 1;
    flex-wrap: wrap;
    background-color: rgba(142, 151, 12, 0.4);
    text-align: center;
}

.middle-col {
    flex: 2;
    text-align: center;
    margin: 30px;
}

button {
    background-color: navy;
    color: green;
}

button:hover {
    border: solid 5px green;
    box-shadow: 10px 10px 10px 0 lawngreen;
}

.battle {
    display: flex;
    background-color: rgba(190, 29, 17, 0.4);
}

.player-battle,
.computer-battle {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}
.narrative {
    background-color: rgba(142, 151, 12, 0.4);
    text-shadow: 2px 2px navy;
    font-size: 25px;
    font-family: 'Archivo Black', 'Concert One', serif, sans-serif;
    font-weight: 500;
    color: green;
    font-style: italic;
    justify-content: center;
    text-align: center;
    line-height: 1;
    margin: 30px 30px 0;
    padding: 10px;
}


.show-me {
    display: none;
}

/* ----Screens 1024px or less -----  */

@media (max-width: 1024px) {
    .game-title {
        font-size: 60px;
        text-shadow: 3px 3px goldenrod;

    }

    .game-subtitle {
        font-size: 30px;
        margin: 10px;
    }

    .main-sec {
        margin: 10px;
    }

    .teams {
        font-size: 18px;
        text-shadow: 2px 2px navy;
    }

    img {
        margin: 10px;
        width: 100px;
        height: 133px;
    }

    .fighter-name {
        bottom: 10px;
        width: 100px;
        margin: 0 10px;
        font-size: 12px;
    }

    .team-secs{
        max-height: 400px;
        overflow: scroll;
    }
    .narrative {  
        font-size: 15px;
        margin: 10px;
        max-height: 300px;
        overflow: auto;
    }
    
}

/* ----Screens 568px or less -----  */

@media (max-width: 568px) {

    .game-title {
        font-size: 20px;
        text-shadow: 2px 2px green;
        font-weight: 300;
        max-height: 30px;
    }

    .game-subtitle {
        font-size: 15px;
        font-weight: 200;
        height: 20px;
        margin: 5px 10px;
    }

    .teams {
        font-size: 10px;
        text-shadow: 1px 1px navy;
    }   

    .tablet {
        font-size: 10px;
        font-weight: 100;
        text-shadow: 2px 2px navy;
    }

    button {
        margin: 0;
        padding: 0;
    }

    .pop-out {
        text-shadow: 2px 2px navy;
    }
    
    .main-sec {
        flex-direction: row;
    }
 
    .left-col,
    .right-col {
        margin-bottom: 0;
        flex-direction: row;
        text-shadow: 2px 2px navy;

    }
    
    .middle-col {
        margin: 0;
    }
    
    .team-secs{
        max-height: 300px;
    }

    img {
        margin: 5px;
        width: 60px;
        height: 80px;
    }

    .fighter-name {
        bottom: 5px;
        width: 60px;
        padding: 2px;
        margin: 0 5px;
        font-size: 8px;
    }

    .narrative {  
        font-size: 10px;
        text-shadow: 1px 1px navy;
        margin: 5px 10px;
        max-height: 200px;
        padding: 5px;
    }

    .hide-me {
        display: none;
    }
    
    .show-me {
        display: inline;
    }
}

